.loginInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        background-color: rgba(128, 138, 226, 0.486);
        height: 4rem ;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }
}

.formInicio{

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label{
        margin-top: 1rem;
    }

    input{
        padding: 0.3rem;
        border-radius: 0.3rem;
        font-size: 1.5rem;
        height: 2rem;
        width: 15%;
        border: 1px solid black;
    }
    
    button{
        margin-top: 1rem;
        background-color:rgba(72, 81, 161, 0.733);
        height: 2.5rem;
        width: 15%;
        border-radius: 0.5rem;
        font-weight: bold;
        color: #FFFFFF;
        border: none;
    }

    p{
        text-align: center;
        margin-top: 1rem;    
    }
}

